
.hexr {
    position: relative;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.hexr::after {
    content: '';
    display: block;
    padding-bottom: 20%; /* =  100 / tan(60) * 1.5 */
}

.hexrIn {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 0 20% 10%;

    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexrIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexrLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** hexr CONTENT **********************************************************************/
.hexr img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}


.hexr h1, .hexr p {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgba(37, 78, 112, 0.7);
    font-weight: 300;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
}


.hexr h1 {
    color: #fff;
    bottom: 50%;
    padding-top: 50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hexr h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.hexr p {
    color: #fff;
    top: 50%;
    padding-bottom: 50%;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}


/*** HOVER EFFECT  **********************************************************************/


/*** hexrAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
    /* <- 5-4  hexragons per row */
    #hexrGrid {
        padding-bottom: 4.4%
    }

    .hexr {
        width: 60%; /* = 100 / 5 */
    }

    .hexr:nth-child(9n+6) { /* first hexragon of even rows */
        margin-left: 10%; /* = width of .hexr / 2  to indent even rows */
    }
}

@media (max-width: 1200px) and (min-width: 901px) {
    /* <- 4-3  hexragons per row */
    #hexrGrid {
        padding-bottom: 5.5%
    }

    .hexr {
        width: 60%; /* = 100 / 4 */
    }

    .hexr:nth-child(7n+5) { /* first hexragon of even rows */
        margin-left: 12.5%; /* = width of .hexr / 2  to indent even rows */
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    /* <- 3-2  hexragons per row */
    #hexrGrid {
        padding-bottom: 7.4%
    }

    .hexr {
        width: 70%; /* = 100 / 3 */
    }

    .hexr:nth-child(5n+4) { /* first hexragon of even rows */
        margin-left: 16.666%; /* = width of .hexr / 2  to indent even rows */
    }
}

@media (max-width: 600px) {
    /* <- 2-1  hexragons per row */
    #hexrGrid {
        padding-bottom: 11.2%
    }

    .hexr {
        width: 60%; /* = 100 / 3 */
    }

    .hexr:nth-child(3n+3) { /* first hexragon of even rows */
        margin-left: 25%; /* = width of .hexr / 2  to indent even rows */
    }
}

@media (max-width: 400px) {
    #hexrGrid {
        font-size: 13px;
    }
}
