<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>








<p>&nbsp;</p>
<h4 style="text-align: left;"><strong>Position Summary</strong></h4>
<p>‪‪We are interested in bringing together specialized knowledge from various scientific and engineering disciplines and applying them to solve real-life issues. One of our major focuses is developing and translating micro/nanotechnologies with clinical diagnostic applications in medicine and biology. &nbsp;</p>
<p>We are currently looking for eager Research Scientists or Postdoctoral Fellows to assist in the development of low-cost, point-of-care diagnostics for rapid detection of infectious diseases/cancer through quantification of target bioagents, including biomarkers, bacterial pathogens, and viruses in biological samples such as whole blood, urine, and saliva. The successful candidates will be intimately involved in every stage of the biosensing device development, including the design, prototyping, optimization, and validation.</p>
<p>&nbsp;Functioning very independently and leading highly interdisciplinary and complex bioengineering projects by daily mentorship of research technicians and undergraduate and graduate research trainees with broad backgrounds in engineering, biology, computer programing, and infectious diseases. The Postdoc / Research Scientist will also perform high level, complex research experiments. On a regular basis, s/he will contribute to scientific literature, reports, and presentations. Investigates, creates and develops new methods and technologies for research advancement.</p>
<p>In addition to helping the Principal Investigator (PI) to achieve the aims of the currently active projects in the lab, the Postdoc / Research Scientist helps the PI to continuously develop novel ideas and open up new lines of relevant research in the lab with the potential in securing future funding from different sources such as NIH, DoD, NSF, etc. S/he will also help the PI in the translational aspect of the projects and technologies developed in the lab.</p>
<h4><span style="color: #000000;">‪‪<strong>Responsibilities</strong></span></h4>
<ul>
    <li>‪‪Develop microfluidic devices for point-of-care detection of infectious diseases</li>
    <li>Design and develop diagnostic assays (immunoassays and nucleic acid tests)</li>
    <li>Strong passion and experience in nano and microtechnologies</li>
    <li>Independently leads interdisciplinary teams with backgrounds in engineering and biology.</li>
</ul>
<ul>
    <li>Work closely with a range of scientists to design experimental protocols and develop workflows and pipelines for bioengineering projects that involves developing mobile health diagnostics and digital health systems.&nbsp;</li>
    <li>Researches, develops, designs, executes and interprets research experiments.</li>
    <li>Contributes for scientific literature, reports and presentations.</li>
    <li>Investigates, creates, and develops new methods and technologies for research advancement.</li>
    <li>Write/review reports, proposals, invention disclosures, and scientific articles</li>
    <li>Supervises undergraduate and graduate students and research technicians and provides training and troubleshooting to colleagues.</li>
    <li>Develops new lines of research in medicine specially at the interface of nanotechnology, consumer electronics, and machine learning.</li>
</ul>
<h4>&nbsp;<strong>Requirements</strong></h4>
<ul>
    <li>‪‪Ph.D./MS in relevant field with experience in diagnostics, microfluidic systems, microfabrication, nanotechnology, and immunoassays.</li>
    <li>‪‪Strong communicational and organizational skills for collaborating with interdisciplinary teams of engineers, biologists, and virologists.</li>
    <li>‪‪Experience with electrochemical/optical biosensors</li>
    <li>‪Creativity, self-starter, tough-minded, self-confident, and attention to details</li>
</ul>
<h4>&nbsp;<strong>Additional Desirable Skills</strong></h4>
<ul>
    <li>‪‪Prior graduate-level research in areas such as cell biology, microbiology, genetics, biochemistry, molecular biology, etc.</li>
    <li>Passion and experience in image processing, programming, and medical device prototyping.</li>
    <li>Experience in a variety of techniques used in nanotechnology such as Uv-vis spectroscopy, FTIR spectroscopy, ICPMass spectroscopy, TEM, SEM, etc.</li>
    <li>Experience in the development of portable optical-based sensors</li>
    <li>Proficiency in biochemical assays, immunochemistry, polymerase chain reaction (PCR), loop-mediated isothermal amplification (LAMP), ELISA, and cell culture.</li>
    <li>Experience in developing surface chemistry protocols on microfluidic devices.</li>
    <li>Experience with real-time target protein/nanoparticle detection on-chip</li>
    <li>Experience with 3D modern rapid prototyping tools (3D printing, PDMS, laser cutter, etc)</li>
    <li>Proficiency in statistical analysis methods, including Bland Altman. Experience working with statistical analysis software such as prism and Minitab</li>
</ul>
<p>&nbsp;</p>
<h4><strong>How to Apply:</strong> Please send your CV to <a href="mailto:hshafiee@bwh.harvard.edu">hshafiee@bwh.harvard.edu</a></h4>






<p>&nbsp;</p>
<h4 style="text-align: left;"><strong>Position Summary</strong></h4>
<p>‪‪We are interested in bringing together specialized knowledge from various scientific and engineering disciplines and applying them to solve real-life issues. One of our major focuses is developing and translating micro/nanotechnologies with clinical diagnostic applications in medicine and biology. &nbsp;</p>
<p>We are currently looking for eager Research Scientists or Postdoctoral Fellows to assist in the development of low-cost, point-of-care diagnostics for rapid detection of infectious diseases/cancer through quantification of target bioagents, including biomarkers, bacterial pathogens, and viruses in biological samples such as whole blood, urine, and saliva. The successful candidates will be intimately involved in every stage of the biosensing device development, including the design, prototyping, optimization, and validation.</p>
<p>&nbsp;Functioning very independently and leading highly interdisciplinary and complex bioengineering projects by daily mentorship of research technicians and undergraduate and graduate research trainees with broad backgrounds in engineering, biology, computer programing, and infectious diseases. The Postdoc / Research Scientist will also perform high level, complex research experiments. On a regular basis, s/he will contribute to scientific literature, reports, and presentations. Investigates, creates and develops new methods and technologies for research advancement.</p>
<p>In addition to helping the Principal Investigator (PI) to achieve the aims of the currently active projects in the lab, the Postdoc / Research Scientist helps the PI to continuously develop novel ideas and open up new lines of relevant research in the lab with the potential in securing future funding from different sources such as NIH, DoD, NSF, etc. S/he will also help the PI in the translational aspect of the projects and technologies developed in the lab.</p>
<h4><span style="color: #000000;">‪‪<strong>Responsibilities</strong></span></h4>
<ul>
    <li>‪‪Develop microfluidic devices for point-of-care detection of infectious diseases</li>
    <li>Design and develop diagnostic assays (immunoassays and nucleic acid tests)</li>
    <li>Strong passion and experience in nano and microtechnologies</li>
    <li>Independently leads interdisciplinary teams with backgrounds in engineering and biology.</li>
</ul>
<ul>
    <li>Work closely with a range of scientists to design experimental protocols and develop workflows and pipelines for bioengineering projects that involves developing mobile health diagnostics and digital health systems.&nbsp;</li>
    <li>Researches, develops, designs, executes and interprets research experiments.</li>
    <li>Contributes for scientific literature, reports and presentations.</li>
    <li>Investigates, creates, and develops new methods and technologies for research advancement.</li>
    <li>Write/review reports, proposals, invention disclosures, and scientific articles</li>
    <li>Supervises undergraduate and graduate students and research technicians and provides training and troubleshooting to colleagues.</li>
    <li>Develops new lines of research in medicine specially at the interface of nanotechnology, consumer electronics, and machine learning.</li>
</ul>
<h4>&nbsp;<strong>Requirements</strong></h4>
<ul>
    <li>‪‪Ph.D./MS in relevant field with experience in diagnostics, microfluidic systems, microfabrication, nanotechnology, and immunoassays.</li>
    <li>‪‪Strong communicational and organizational skills for collaborating with interdisciplinary teams of engineers, biologists, and virologists.</li>
    <li>‪‪Experience with electrochemical/optical biosensors</li>
    <li>‪Creativity, self-starter, tough-minded, self-confident, and attention to details</li>
</ul>
<h4>&nbsp;<strong>Additional Desirable Skills</strong></h4>
<ul>
    <li>‪‪Prior graduate-level research in areas such as cell biology, microbiology, genetics, biochemistry, molecular biology, etc.</li>
    <li>Passion and experience in image processing, programming, and medical device prototyping.</li>
    <li>Experience in a variety of techniques used in nanotechnology such as Uv-vis spectroscopy, FTIR spectroscopy, ICPMass spectroscopy, TEM, SEM, etc.</li>
    <li>Experience in the development of portable optical-based sensors</li>
    <li>Proficiency in biochemical assays, immunochemistry, polymerase chain reaction (PCR), loop-mediated isothermal amplification (LAMP), ELISA, and cell culture.</li>
    <li>Experience in developing surface chemistry protocols on microfluidic devices.</li>
    <li>Experience with real-time target protein/nanoparticle detection on-chip</li>
    <li>Experience with 3D modern rapid prototyping tools (3D printing, PDMS, laser cutter, etc)</li>
    <li>Proficiency in statistical analysis methods, including Bland Altman. Experience working with statistical analysis software such as prism and Minitab</li>
</ul>
<p>&nbsp;</p>
<h4><strong>How to Apply:</strong> Please send your CV to <a href="mailto:hshafiee@bwh.harvard.edu">hshafiee@bwh.harvard.edu</a></h4>






<!--###############################################-->




<p>&nbsp;</p>
<h4 style="text-align: left;"><strong>Position Summary</strong></h4>
<p> We are currently seeking Postdoctoral Fellows with a strong background and interest in medical devices and
    point-of-care diagnostics to join a dynamic team of researchers with broad backgrounds in virology, chemistry,
    engineering, and computer programming for an exciting opportunity in the laboratory of Hadi Shafiee, Ph.D. at the
    Brigham and Women’s Hospital (BWH), Harvard Medical School (HMS). More information about the lab and the work being
    conducted can be found on <u><a href="https://shafieelab.bwh.harvard.edu/">Shafiee Lab</a></u> website.</p>

<p> Located in Boston, MA, Brigham and Women's Hospital is a Harvard-affiliated teaching/research hospital and an
    international leader in providing high-quality healthcare in literally the majority of areas of medicine to our patients
    globally. It is a unique environment in fostering medical innovations with the goal of improving human lives.
    Due to our attention to patients’ needs and our focus on differentiation, BWH has been continuously ranked as a
    top hospital by US News and World Report in medical areas such as gynecology, surgery, cardiology, cancer,
    infectious diseases, neurosurgery, and rheumatology.
</p>


<p> We are currently looking for intellectually curious, creative problem solver Postdoctoral Fellows to assist in the
    development of low-cost, point-of-care diagnostics for rapid detection of infectious diseases through quantification
    of target bioagents, including biomarkers, bacterial pathogens, and viruses in biological samples.</p>

<p>Ideal candidates will be self-driven with the ability to work closely with a team of experts with broad backgrounds in chemistry, virology, computer programing, and engineering. We believe that the key to success in achieving the goals of our interdisciplinary projects is teamwork.</p>
<p>Ideal candidates will have a strong passion and interest in developing medical devices and point-of-care diagnostics. Experience in diagnostics and point-of-care detection particularly in infectious diseases is strongly preferred. Recent graduates are encouraged. We also encourage candidates with a strong passion for translational medicine and technology commercialization.</p>



<h4><span style="color: #000000;">‪‪<strong>Responsibilities</strong></span></h4>
<ul>
    <li>Develop, characterize, and validate novel point-of-care diagnostics using the advances in nanotechnology, microfluidics, chemistry, cellphone-based optical/electrical sensing, or machine learning.</li>

    <li>Conduct in-vitro diagnostic tests for system characterization and validation using patient body fluid samples such as blood, serum, urine, saliva, etc.</li>
    <li>Coordinate interdisciplinary projects with other lab members and other colleagues’ laboratories.</li>
    <li>Provide substantial intellectual contribution in the development, validation, and translation of diagnostic technologies developed in the lab.</li>

    <li>Continuously discuss the projects with the principal investigator and the members involved in specific projects to receive feedback.</li>

</ul>



<h4>&nbsp;<strong>Qualifications</strong></h4>
<ul>
    <li>    Ph.D. in Bioengineering, Chemistry, Mechanical Engineering, or related area.</li>
    <li>    Detail-oriented    </li>
    <li>    Excellent organizational skills    </li>
    <li>    Strong interpersonal skills with excellent verbal and written communication skills    </li>
    <li>    Self-driven    </li>
    <li>    Able to work independently and at the same time work closely with others    </li>
    <li>    Committed to developing high quality and reliable scientific and translational work</li>

</ul>

<p>All qualified applicants will receive consideration for employment without regard to race, color, religion, sex,
    sexual orientation, gender identity, national origin, disability, or protected veteran status.</p>
<p>&nbsp;</p>
<h4><strong>How to Apply:</strong> Please send your CV to <a href="mailto:hshafiee@bwh.harvard.edu">hshafiee@bwh.harvard.edu</a></h4>



</body>
</html>